<form action='/posts' method="post">
Title:
<input type="text" name="title"><br></br>
Content:
<br>
<textarea type="text" name="content" rows="8" cols="80"></textarea><br></br>
Create Your Post:

<input type="submit" name="submit" id="submit">

</form>
