<div>
<%= @post.title %><br><br>
<%= @post.content %>
<br>
<br>
<a href="/posts/<%= @post.id %>/edit">Edit Post</a>
<br>
<br>
<form method="POST" action="/posts/<%= @post.id %>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" id="Delete Post" value="Delete Post">
</form>
</div>
